<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina inicial</title>
</head>
<body>

    <h1 style="text-align: center;">PÁGINA INICIAL</h1>

    <div style="display: flex; justify-content: center;
    align-items: center;">
      <form method="POST" action="/">
        <input type="hidden" name="action" value="login">
        <button type="submit">Enviar para login</button>
      </form>

      <form method="POST" action="/">
        <input type="hidden" name="action" value="cadastro">
        <button type="submit">Enviar para cadastro</button>
      </form>
    </div>
</body>
</html>